<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectjedi">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project Jedi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Memory"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Media"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Score"
            android:label="@string/title_activity_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name=".MyService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a591f08ee79646608fbcf55bea56f4b2707a7d4d" />
    </application>


</manifest>
